# vi(m) swap files
*.sw*

# bytecode files
*.beam

# ignore crash dumps
*.dump

# rebar dependency files
deps/*

# ignore ebin folder
# it must be generated
# by rebar
ebin/*

# Application logs should
# also be ignored
log/*

# Ignore coverage reports
.eunit/*

# Ignore rebar folder
.rebar/*
